h1{
	text-align: center;
}
#picoPicture{
	z-index: 0;
	max-width: 100%;

}
.map{
	position: relative;
	width: 100%;
	height: 443px;
	max-width: 1299px;
	margin: 0 auto;
}
.dot{
	position: absolute;

}

/*tooltip from W3 schools*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptextgotKosher {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
   width: 120px;
  top: 50%; 
  right: 60%;
  position: absolute;
  z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dot:hover + .tooltiptextgotKosher {
  visibility: visible;
}


#gotKosher{
	top: 50%; 
	right: 60%;
}
#burgerBar{
	top: 50%; 
	right: 50%;
}
#jeffs{
	top: 50%; 
	right: 40%;
}